.contact {
    padding-bottom: 40px;
    background: #090a0f;
    overflow: hidden !important;
}

.contact form {
    width: 85% !important;
}

.contact form input,
.contact form textarea {
    background-color: #0d1118;
    border: none;
    box-shadow: 0 0 6px #1e40af;
    border: 2px solid #1e40af;
    ;

}



.contact form input:focus,
.contact form textarea:focus {
    border: 2px solid #1e40af;
    ;
    background-color: #0d1118;
    box-shadow: 0 0 6px #1e40af;
    color: white;

}




.contact form input::placeholder,
.contact textarea::placeholder {
    color: white !important;
}

.contact form textarea {
    height: 250px !important;
    resize: none;

}

.contact form .submit {
    background-color: #0d1118;

    border: 2px solid #1e40af;
    color: wheat;
    padding: 7px 15px;
    border-radius: 6px;
    z-index: 9999 !important;
}

.contact form .submit:disabled {
    opacity: .4;
    cursor: not-allowed;
}

/* Contact.css */
.contact .form-control,
.contact .submit {
    position: relative;
    z-index: 1;
}




@media(max-width:440px) {
    .contact .lottie {
        width: 100% !important;
    }

    .contact form {
        width: 100% !important;
    }

}